body{
    background-color: #193549;
}

.grid {
    width: 400px;
    height: 600px;
    background-color: #CAD0D8;
    position: relative;
}

.doodler {
    width: 60px;
    height: 85px;
    background-color: red;
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute;
}

.button.play {
    width: 74px;
    height: 74px;
    border-style: solid;
    border-width: 37px;
    border-color: #202020;
}